.table-link {
    color: black;
    text-decoration: underline;
}

.account-button {
    background-color: lightsteelblue;
    text-decoration: underline;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

/*Found on
https://stackoverflow.com/questions/20825211/bootstrap-table-striped-how-do-i-change-the-stripe-background-colour
*/
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: darkgrey;
}

.customer-list {
    background-color: grey;
}

.tip-text-customer-list {
    color: whitesmoke;
    margin-left: 18px;
}
