.account-button {
    background-color: lightsteelblue;
    text-decoration: underline;
    float: left;
    margin-top: 7px;
    margin-left: 15px;
    margin-bottom: 7px;
}

.account-profile {
    background-color: darkgray;
}

.tip-text {
    color: whitesmoke;
    margin-left: 10px;
}

.account-class-text {
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    margin: 10px
}

.profile-top-banner {
    text-decoration: underline;
}

.customer-name-text {
    color: black;
    text-decoration: underline;
}

.account-profile-body {

}
